/*Styles for the Nabar*/
.navbar {
    background-color: #003459;
    border-color: #00171F;
    font-family: 'Lora', serif;
}

.navbar-inverse .navbar-brand { 
    color:#FFFFFF;
    font-size: 1.7em;
}

.navbar-inverse .navbar-brand:hover {
    color: #00A7E1;
}

.navbar-inverse .navbar-nav > li > a { 
    color:#FFFFFF; 
    font-size: 1.25em;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #00A7E1;
}

.username, .subscribe {
    margin-top:0.85em;
    color: #FFFFFF; 
    font-size: 1.25em;
}

h5.subscribe > a {
    margin-left: 0.95em;
    color: #FFFFFF;
}

h5.subscribe > a:hover {
    color: #00A7E1;
    text-decoration: none;
}

@media only screen and (max-width: 425px) {
    .username, h5.subscribe > a {     
        margin-left: 0.85em;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.25em;
    }
    h5.subscribe > a {
        font-size: 1em;
        margin-left: 0.75em;
    }
}