<!-- Display posts -->
{% macro displayPostList(post_list) %}

    {% for post in post_list %}
        <div class="row">
            
            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well post-well">
            
                <li class="text-center">

                    <h3 class="post-title">

                        <a href="/post/{{post.id}}">
                            {{ post.post_title }}   
                        </a>

                        <br>

                        <small>
                            by {{ post.user.username }}
                        </small>
                        
                    </h3>

                </li>

            </div>

            <div class="col-md-2 col-lg-2">
                
            </div>

        </div>

    {% endfor %}

{% endmacro %}


<!-- Display comments -->
{% macro displayCommentList(comment_list) %}


    {% for comment in comment_list %}
        <div class="row">
            
            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well">
            
                <li>

                    <h4 class="comment-content">
                        
                        {{ comment.comment_content}}

                        <br>

                        <small class="comment-author"> by {{ comment.user.username }} </small>
                        
                    </h4>

                </li>

            </div>

            <div class="col-md-2 col-lg-2">
                
            </div>

        </div>

    {% endfor %}

{% endmacro %}

<!-- Display posts on writer route -->
{% macro displayPostListWriter(post_list) %}

    {% for post in post_list %}
        <div class="row">
            
            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well post-well">
            
                <li class="text-center">

                    <h3 class="post-title">
                        
                        <a href="/writer/post/{{post.id}}">
                            {{ post.post_title }}   
                        </a>

                        <br>

                        <small>
                            by {{ post.user.username }}
                        </small>
                        
                    </h3>

                </li>

            </div>

            <div class="col-md-2 col-lg-2">
                
            </div>

        </div>

    {% endfor %}

{% endmacro %}

<!-- Display comments -->
{% macro displayCommentListWriter(comment_list) %}


    {% for comment in comment_list %}
        <div class="row">
            
            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well">
            
                <li>

                    <h4 class="comment-content">
                        
                        {{ comment.comment_content}}

                        <br>

                        <small class="comment-author"> by {{ comment.user.username }} </small>
                        
                    </h4>

                </li>

            </div>

            <div class="col-md-2 col-lg-2">

                <h4>
                    <a href="/writer/post/comment/delete/{{comment.id}}">
                        Delete Comment
                    </a>
                </h4>
                
            </div>

        </div>

    {% endfor %}

{% endmacro %}




