{% extends 'base.html' %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
{% endblock %}

<!-- Navbar block -->
{% block navbar %}
    <div class="container">

        <div class="navbar navbar-inverse" role="navigation" >

            <div class="container-fluid">

                <div class="navbar-header">

                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a href="/" class="navbar-brand">
                        the <span class="sitename">C</span> blog
                    </a>

                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        <li>
                            <a href="/">Home</a>
                        </li>
                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                      {% if current_user.is_authenticated %}

                          <li> <h4 class="username"> {{current_user.username}} </h4> </li>

                          {% if current_user.subscribe == False and current_user.role_id == 2 %}

                              <li>
                                  <h5 class="subscribe">
                                      <a href="/subscribe/{{current_user.id}}"> Subscribe </a>
                                  </h5>
                              </li>

                          {% endif %}

                          <li> <a href="{{url_for('auth.logout')}}">Sign out</a> </li>

                          {% else %}

                          <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                          
                      {%endif%}

                    </ul>

                </div>

            </div>

        </div>

    </div>
{% endblock %}