{% extends 'base.html' %}
{% import 'macros.html' as macro %}


<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h2> 
            {{ post.post_title }}
            <br>
            <small>
                by {{ post.user.username }}
            </small> 
        </h2>

        <p>
            {{ format_post | safe }}
        </p>

        <hr>

        <div class="row">

            <div class="col-md-4 col-lg-4">

                <h3>Comments</h3>

            </div>

            <div class="col-md-4 col-lg-4">
                
            </div>

            <div class="col-md-4 col-lg-">
                
                <h3>
                    <a href="/post/comment/new/{{post.id}}">
                        Add Comment
                    </a>
                </h3>
            </div>
        </div>

        <hr>
        
        <ul class="list-unstyled">
            {{ macro.displayCommentList(comments) }}
        </ul>



    </div>

{% endblock %}